/*
*/
@import "bootstrap-sprockets";
@import "bootstrap";

#choices {
  width: 800px;
  height: auto;
  line-height: 30px;
  margin: 0 auto;

  .container {
    width: 800px;
  }

  .scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
  }
}

