/*
*/
@import "bootstrap-sprockets";
@import "bootstrap";

main {
  width: 100%;
  height: -webkit-calc(100% - 70px);
  background: #f2f4f6;
  text-align: center;
}

#logo {
  margin: 30px auto;
  border: 1px rgba(0,0,0,0.4) solid;
}
