// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#multi_markers {
  width: 90%;
  height: 70%;
  margin: 0 auto;
}

main {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#choices {
  width: 800px;
  height: 100px;
  margin: 40px auto;
}

#shop_choices{
  width: 200px;
  float:left;
}

#shop_choices tbody {
  display: none;
}

#prefecture_choices{
  width: 200px;
  float:left;
}

#prefecture_choices tbody {
  display: none;
}

#search_btn{
  width: 100px;
  height: 70px;
  margin: auto;
  float:left;
}

.btn {
  width: 30px;
  height: 30px;
  float:left;
}
#choices > form > div:nth-child(5) {
  margin-right: 20px;
}
