<div class="container">

  <span class="glyphicon glyphicon-paperclip title_icon" aria-hidden="true"></span>
  <span class="title">Fashion Shop Mapって？</span>
  <div class="description">
    本サービスは、セレクトショップの店舗の位置を検索できるサービスです。<br>
    これまでは行きたいショップがいくつもある場合、ショップの公式サイトやGoogleMapを使って一つずつ探す必要がありました。<br>
    本サービスを使えば、複数のショップの位置を同時に検索し、地図に表示することができます。
  </div>
  
  <span class="glyphicon glyphicon-paperclip title_icon" aria-hidden="true"></span>
  <span class="title">こんなときに使ってください</span>
  <div class="row">
    <% #{{{ %>
    <div id="scenario">
    <div class="scene col-sm-3">
      <div class="scene_image" id="scene1">
        <img src="/assets/net_shopping_pc.png" alt="1">
      </div>
      <div class="scene_description">
        最近では家から出なくてもネットでショッピングが楽しめます。<br>
        色々なショップの洋服が一度に見れてとっても便利。
      </div>
    </div>
    <div class="arrow col-sm-1"><img src="/assets/arrow.png" alt="矢印"></div>
    <div class="scene col-sm-3">
      <div class="scene_image" id="scene2">
        <img src="/assets/diet_before_woman.png" alt="2">
      </div>
      <div class="scene_description">
        でもネットショッピングはサイズ感が不安。<br>
        素材や品質なんかも実際に見てみないとわかりません。
      </div>
    </div>
    <div class="arrow col-sm-1"><img src="/assets/arrow.png" alt="矢印"></div>
    <div class="scene col-sm-3">
      <div class="scene_image" id="scene3">
        <img src="/assets/computer_nekorogaru_woman.png" alt="3">
      </div>
      <div class="scene_description">
        そんな時、せっかく買い物に出かけるなら「ネットでチェックしたあのショップ」ができるだけ多く集まる場所に行きたくなりますよね。<br>
        本サービスならその情報が一発でわかります！
      </div>
    </div>
    </div>
    <% #}}} %>
  </div>

  <span class="glyphicon glyphicon-paperclip title_icon" aria-hidden="true"></span>
  <span class="title">注意事項</span>
  <div class="description">
    <ul>
      <li> 
        ショップによって店舗の取扱がメンズのみ、またはウィメンズのみとなっているの場合があります。ご注意下さい。
      </li>
      <li>
        ショップのマーカーの位置が完全に被ってしまうことを防ぐため、店舗の本来の位置とは若干異なる場所にマーカーをプロットしていることがあります。実際に店舗を訪れる際などは正確な住所を改めてご確認ください
      </li>
      <li>
        情報が最新でなく、店舗が閉店している場合があります。これと同様に、新しい店舗が未登録である場合もあります。ご注意下さい。
      </li>
    </ul>
  </div>

  <span class="glyphicon glyphicon-paperclip title_icon" aria-hidden="true"></span>
  <span class="title">免責</span>
  <div class="description">
    <ul>
      <li>
        本サービスに関連するいかなるトラブルにつきましても、製作者は責任を負いかねます。自己責任でご使用下さい。
      </li>
      <li>
        本サービスで取り扱う店舗の位置情報はできる限り正確に保つように努めておりますが、その正確性・完全性・信頼性・最新性を保証するものではございません。
      </li>
    </ul>
  </div>

</div>
