<div class="container">

  <span class="glyphicon glyphicon-paperclip title_icon" aria-hidden="true"></span>
  <span class="title">Fashion Shop Mapって？</span>
  <div class="description">
    本サービスは、ファッションショップの位置を検索することのできるサービスです。
    現在主にセレクトショップを中心に扱っています。<br>
    皆様からご要望を頂きながら徐々に取扱いショップを増やしていければと思っています。右上のボタンからお気軽にお問い合わせ下さい。
  </div>
  
  <span class="glyphicon glyphicon-paperclip title_icon" aria-hidden="true"></span>
  <span class="title">こんな想定をしています</span>
  <div class="row">
    <% #{{{ %>
    <div id="scenario">
    <div class="scene col-md-3">
      <div class="scene_image" id="scene1">
        <img src="/assets/net_shopping_pc.png" alt="1">
      </div>
      <div class="scene_description">
        最近では家から出なくてもネットでショッピングが楽しめます。<br>
        色々なショップの洋服が一度に見れてとっても便利。
      </div>
    </div>
    <div class="arrow col-md-1"><img src="/assets/arrow.png" alt="矢印"></div>
    <div class="scene col-md-3">
      <div class="scene_image" id="scene2">
        <img src="/assets/diet_before_woman.png" alt="2">
      </div>
      <div class="scene_description">
        でもネットショッピングはサイズ感が不安。<br>
        素材や品質なんかも実際に見てみないとわかりません。
      </div>
    </div>
    <div class="arrow col-md-1"><img src="/assets/arrow.png" alt="矢印"></div>
    <div class="scene col-md-3">
      <div class="scene_image" id="scene3">
        <img src="/assets/computer_nekorogaru_woman.png" alt="3">
      </div>
      <div class="scene_description">
        そんな時、「ネットでチェックしたあのショップ」ができるだけ集まっているところに行きたくありませんか？<br>
        当サイトを使ってどこにどんなショップがあるのか探してみてください。
      </div>
    </div>
    </div>
    <% #}}} %>
  </div>

  <span class="glyphicon glyphicon-paperclip title_icon" aria-hidden="true"></span>
  <span class="title">注意事項</span>
  <div class="description">
    <ul>
      <li>
        本サービスでは、地図を表示する際にショップのマーカーの位置が完全に被ってしまうことを防ぐため、本来の位置とは若干異なる位置にマーカーをプロットしていることがあります。実際に店舗を訪れる際などはその点にご注意下さい。
      </li>
      <li> 
      
      </li>
    </ul>
  </div>

  <span class="glyphicon glyphicon-paperclip title_icon" aria-hidden="true"></span>
  <span class="title">免責</span>
  <div class="description">
    <ul>
      <li>
        本サービスに関連するいかなるトラブルにつきましても、製作者は責任を負いかねます。自己責任でご使用下さい。
      </li>
      <li>
        本サービスで取り扱う店舗の位置情報はできる限り正確に保つように努めておりますが、その正確性・完全性・信頼性・最新性を保証するものではございません。
      </li>
    </ul>
  </div>

</div>
