<%= stylesheet_link_tag "index", :media => "all" %>

<div class="container">
  <% if @error_msg %>
    <div class="alert alert-danger" role="alert">
      <strong><%= @error_msg %></strong>
    </div>
  <% end %>

  <img id="logo" alt="fashion shop map" src="/assets/mylogo.png">
  <!-- <img id="logo" alt="fashion shop map" width="500" src="https://placeholdit.imgix.net/~text?txtsize=47&#38;txt=500%C3%97500&#38;w=500&#38;h=300"> -->
  <%= render 'choices'%>

</div>
