<%= stylesheet_link_tag "index", :media => "all" %>

<div class="container">
  <% if @error_msg %>
    <div class="alert alert-danger" role="alert">
      <strong><%= @error_msg %></strong>
    </div>
  <% end %>
  <img id="logo" alt="fashion shop map" src="/assets/mylogo.png">
  <%= render 'choices'%>
</div>
