/* line 1, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
.container {
  width: 70%;
  padding: 20px 0px;
  font-weight: bold;
}

/* line 7, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
.title_icon {
  font-size: 16px;
  color: #4a8ef4;
}
/* line 10, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
.title_icon:after {
  content: "\00a0";
}

/* line 15, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
.title {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 20px 0 0;
}

/* line 23, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
.description {
  width: 100%;
  height: auto;
  background: #eeeeee;
  margin: 10px 0;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-size: 14px;
}

/* line 35, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
#scenario .scene {
  margin-top: 20px;
  background: #eeeeee;
}
/* line 39, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
#scenario .scene:first-child {
  margin-left: 15px;
}
/* line 43, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
#scenario .scene .scene_image {
  text-align: center;
}
/* line 46, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
#scenario .scene .scene_image img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 150px;
}
/* line 56, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
#scenario .scene .scene_description {
  width: 100%;
  height: auto;
  background: #eeeeee;
  margin-top: 20px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-size: 14px;
}
/* line 68, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
#scenario .arrow {
  padding-top: 150px;
  text-align: center;
}
/* line 71, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
#scenario .arrow img {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  /* line 80, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
  .arrow {
    display: none;
  }

  /* line 85, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
  #scenario .scene {
    width: 100%;
  }
  /* line 87, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/about.scss */
  #scenario .scene:first-child {
    margin-left: 0;
  }
}
