/* line 1, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
main {
  height: auto;
}

/* line 5, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
.container {
  width: 80%;
  margin: 30px 100px;
  max-width: 800px;
  margin: 0 auto;
}

/* line 12, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
.table th {
  width: 30%;
}

/* line 16, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
input:not([type='submit']) {
  width: 100%;
}

/* line 20, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
textarea {
  width: 100%;
  height: 200px;
}

/* line 25, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
input[type='submit'] {
  float: right;
}

@media screen and (max-width: 1000px) {
  /* line 30, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
  .container {
    width: 90%;
  }

  /* line 34, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
  .table th {
    width: 130px;
  }

  /* line 38, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
  input:not([type='submit']) {
    width: 100%;
  }

  /* line 42, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
  textarea {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  /* line 49, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
  main {
    height: auto;
    padding: 10px 10px;
  }

  /* line 54, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
  h1 {
    font-size: 16px;
    font-weight: bold;
  }

  /* line 59, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
  .container {
    width: 100%;
  }

  /* line 63, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
  .table th {
    display: none;
  }

  /* line 67, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
  input:not([type='submit']) {
    width: 100%;
  }

  /* line 71, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/inquiry.scss */
  textarea {
    width: 100%;
    height: 200px;
  }
}
