/* line 5, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/shops.scss */
main {
  padding: 20px;
}

/* line 9, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/shops.scss */
#condition {
  width: 100%;
  margin: 20px auto;
}
/* line 13, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/shops.scss */
#condition p {
  width: 130px;
  font-size: 14px;
  line-height: 32px;
  float: left;
}
/* line 20, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/shops.scss */
#condition #labels {
  width: -webkit-calc(100% - 150px);
  float: left;
}

/* line 26, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/shops.scss */
#map {
  width: 95%;
  box-sizing: border-box;
  padding-bottom: 10px;
  height: 550px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* line 38, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/shops.scss */
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
/* line 48, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/shops.scss */
#pac-input:focus {
  border-color: #4d90fe;
}

/* line 53, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/shops.scss */
.pac-container {
  font-family: Roboto;
}

/* line 57, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/shops.scss */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* line 67, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/shops.scss */
.bootstrap_btn_wrapper {
  display: inline-block;
  margin: 2px;
}

/* line 71, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/shops.scss */
.error {
  width: 400px;
  height: auto;
  margin: 0 auto;
}
