/* line 5, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
main {
  padding: 20px 40px;
}

/* line 9, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#condition {
  width: 100%;
  margin: 20px auto;
}
/* line 12, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#condition p {
  width: 90px;
  padding: 0;
  margin: auto;
  font-size: 14px;
  line-height: 32px;
}

/* line 21, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel {
  width: 320px;
  height: 550px;
  float: left;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 28, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel .location_search {
  width: 100%;
  height: 90px;
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 34, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel .location_search p {
  width: 250px;
  padding: 0;
  margin: 0;
  font-style: italic;
}
/* line 42, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel .location_search #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}
/* line 51, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel .location_search #pac-input:focus {
  border-color: #4d90fe;
}
/* line 57, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel .branch_list {
  padding: 0;
  height: 460px;
  overflow: scroll;
}
/* line 62, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel .branch_list li {
  list-style-type: none;
}
/* line 65, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel .branch_list li .branch {
  width: 100%;
  min-height: 50px;
  height: auto;
  padding: 5px 5px;
  cursor: pointer;
}
/* line 72, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel .branch_list li .branch:hover {
  background: #dee0e2;
}
/* line 76, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel .branch_list li .branch .image {
  box-sizing: border-box;
  width: 40px;
  height: 50px;
  padding: 4px;
  margin: auto;
  float: left;
}
/* line 84, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel .branch_list li .branch .image img {
  width: 32px;
  height: 44px;
}
/* line 90, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel .branch_list li .branch .description {
  width: calc(100% - 40px);
  padding: 0 5px;
  float: left;
}
/* line 95, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel .branch_list li .branch .description .title {
  font-weight: bold;
  font-size: 14px;
}
/* line 99, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#panel .branch_list li .branch .description .lat, #panel .branch_list li .branch .description .lng {
  display: none;
}

/* line 108, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
#map {
  width: calc( 100% - 330px );
  box-sizing: border-box;
  padding-bottom: 10px;
  height: 550px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  float: left;
}

@media screen and (max-width: 768px) {
  /* line 120, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
  main {
    padding: 20px;
  }

  /* line 123, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
  #condition {
    max-height: 80px;
    overflow: scroll;
    padding: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
  /* line 129, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
  #condition p {
    font-size: 12px;
    line-height: 12px;
    height: 20px;
  }

  /* line 137, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
  #labels .btn-sm {
    height: 25px;
  }
  /* line 140, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
  #labels .btn, #labels .badge {
    font-size: 11px;
    line-height: 11px;
  }

  /* line 146, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
  #panel {
    width: 100%;
    height: 150px;
    font-size: 12px;
  }
  /* line 151, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
  #panel .location_search {
    height: 90px;
  }
  /* line 154, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
  #panel .branch_list {
    height: 60px;
  }
  /* line 158, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
  #panel .title {
    font-size: 12px;
    font-weight: bold;
  }
  /* line 163, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
  #panel .address {
    font-size: 11px;
  }

  /* line 168, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
  #map {
    width: calc(100%);
    height: 250px;
    margin: 10px 0;
  }
}
/* line 175, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
.pac-container {
  font-family: Roboto;
}

/* line 179, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* line 189, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
.bootstrap_btn_wrapper {
  display: inline-block;
  margin: 2px;
}

/* line 193, /Users/naka/Desktop/github/select-shop-map/app/assets/stylesheets/show.scss */
.error {
  width: 400px;
  height: auto;
  margin: 0 auto;
}
