<!DOCTYPE html>
<html>
<head>
  <title>Mock2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAKSmtc7T8T72MMS0G-MEflbNk_p8TmrtQ	">
</script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
</head>
<body>

<%= yield %>

</body>
</html>
