/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html{
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: #e8e8e8 ;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.clear{
  clear:both;
}
header{
  height: 50px;
  width: 100%;
  background: #4a8ef4;
}
#page_title{
  display: inline-block;
  float: left;
  width: auto;
  margin: 0 20px;
  color: white;
  font-size: 28px;
  line-height: 50px;
}

#mail {
  float: right;
  display: inline-block;
  margin: 8px 30px;
}

main {
  width: 100%;
  min-height: -webkit-calc(100% - 50px - 50px);
  background: #f2f4f6;
}

footer {
  box-sizing: border-box;
  border-top: 3px solid #888 ;
  width: 100%;
  height: 50px;
  padding: 5px 0 0;
  //background: white;
  // background: #f2f4f6;
  background: #e8e8e8 ;
  
  p {
    display: inline-block;
    float: left;
    width: 310px;
    line-height: 40px;
    margin-left: calc(50% - 155px);
  }

  #share_buttons {
    display: inline-block;
    box-sizing: border-box;
    width: calc( 5 * 40px );
    height: 40px;
    min-height: 30px;
    margin-right: 5%;
    padding: 5px 0;
    float:right;

    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style-type: none
    }
    .sns_icon {
      display: inline-block;
      float:left;
      width: 40px;
      height: 30px;
    }
    img {
      width: 30px;
      box-sizing: border-box;
      height: 30px;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
    }
  }
}

/* スマホだけに適用するCSS */
@media screen and ( max-width: 768px ) {
  /* ボディ */
  body {
    font-size: 13px ;	/* 文字サイズ */
  }
  #page_title {
    font-size: 24px;
  }
  #mail {
    margin-right: 10px;
  }
  #inquiry_text {
    display: none;
  }
  footer {
    text-align: center;
    p {
      margin: 0;
      width: 100%;
    }
    #share_buttons {
      float: none;
    }
  }
}

@media screen and ( max-width:320px ) {
  #page_title {
    font-size: 20px;
  }
  main {
    min-height: -webkit-calc(100% - 50px - 100px);
  }
  footer {
    padding: 10px 0 0;
    height: 100px;
  }
}
