/*
*/
@import "bootstrap-sprockets";
@import "bootstrap";

#choices {
  width: 500px;
  height: auto;
  line-height: 40px;
  margin: 0 auto;

  button {
    width: 100%;
    margin: 5px 0;

  }
  
  .scrollable-menu {
    height: auto;
    max-width: 100%;
    max-height: 180px;
    overflow-x: hidden;
  }

  input[type="checkbox"] {
    word-wrap: break-word;
  }
}

#select_all {
  box-sizing: border-box;
  height: 20px;
  font-size: 12px;
  margin: 0 15px;
}

/* スマホだけに適用するCSS */
@media screen and ( max-width:768px ) {
  #choices {
    max-width: 500px;
    width: 100%;
    height: auto;
  }
}
