/*
*/
@import "bootstrap-sprockets";
@import "bootstrap";

#choices {
  width: 600px;
  height: auto;
  line-height: 30px;
  margin: 0 auto;

  .scrollable-menu {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
  }
}

#select_all {
  box-sizing: border-box;
  height: 20px;
  font-size: 12px;
  margin: 0 15px;
}
