/*
*/
@import "bootstrap-sprockets";
@import "bootstrap";

main {
  text-align: center;
}

.container {
  width: 100%;
  padding: 0 !important;
}
#logo {
  width: 500px;
  margin: 40px auto 30px;
  max-width: 90%;
  background-image: url("/assets/back.png");
  background-size: cover;
  border: 1px rgba(0,0,0,0.4) solid;
}

/* スマホだけに適用するCSS */
@media screen and ( max-width:768px )
{
  #logo {
    width: 80%;
    margin: 20px auto;
  }
}
