// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 10px;
  //height: -webkit-calc(100% - 34px - 53px);
  height: -webkit-calc(80%);
  margin: 0 auto;
}

#labels {
  width: 90%;
  height: auto;
  margin: 10px auto;
  //overflow: auto;
}

main {
  padding: 20px;
}

// google map search input
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;

  &:focus {
    border-color: #4d90fe;
  }
}

.pac-container {
  font-family: Roboto;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.bootstrap_btn_wrapper {
  display: inline-block;
  margin: 2px;
}
.error {
  width: 400px;
  height: auto;
  margin: 0 auto;
}
