// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  padding: 20px;
}

#condition {
  width: 100%;
  margin: 20px auto;

  p {
    width: 130px;
    font-size: 14px;
    line-height: 32px;
    float: left;
  }

  #labels {
    width: -webkit-calc(100% - 150px);
    float: left;
  }
}

#map {
  width: 95%;
  box-sizing: border-box;
  padding-bottom: 10px;
  //height: -webkit-calc(100% - 34px - 53px);
  height: 550px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.3);
}


// google map search input
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;

  &:focus {
    border-color: #4d90fe;
  }
}

.pac-container {
  font-family: Roboto;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.bootstrap_btn_wrapper {
  display: inline-block;
  margin: 2px;
}
.error {
  width: 400px;
  height: auto;
  margin: 0 auto;
}
