// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  padding: 20px 40px;
}

#condition {
  width: 100%;
  margin: 20px auto;
  p {
    width: 90px;
    padding: 0;
    margin: auto;
    font-size: 14px;
    line-height: 32px;
  }
}

#panel {
  width: 320px;
  height: 550px;
  float: left;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.3);

  .location_search {
    width: 100%;
    height: 90px;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.3);

    p {
      width: 250px;
      padding: 0;
      margin: 0;
      font-style: italic;
    }

    // google map search input
    #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 200px;

      &:focus {
        border-color: #4d90fe;
      }
    }
  }

  .branch_list {
    padding: 0;
    height: 460px;
    overflow: scroll;

    li {
      list-style-type: none;

      .branch {
        width: 100%;
        min-height: 50px;
        height: auto;
        padding: 5px 5px;
        cursor: pointer;

        &:hover {
          background: #dee0e2;
        }

        .image {
          box-sizing: border-box;
          width: 40px;
          height: 40px;
          padding: 4px;
          margin: auto;
          float:left;

          img {
            width: 32px;
            height: 32px;
          }
        }

        .description {
          width: calc(100% - 40px);
          padding: 0 5px;
          float: left;

          .title{
            font-weight: bold;
            font-size: 14px;
          }
          .lat, .lng{
            display: none;
          }
        }
      }
    }
  }
}

#map {
  width: calc( 100% - 330px );
  box-sizing: border-box;
  padding-bottom: 10px;
  //height: -webkit-calc(100% - 34px - 53px);
  height: 550px;
  margin-left: 10px;
  border: 1px solid rgba(0,0,0,0.3);
  float:left;
}

@media screen and ( max-width:768px ) {
  main {
    padding: 20px;
  }
  #condition {
    max-height: 80px;
    overflow: scroll;
    padding: 10px 0;
    border: 1px solid rgba(0,0,0,0.4);

    p {
      font-size: 12px;
      line-height: 12px;
      height: 20px;
    }
  }

  #labels{
    .btn-sm{
      height: 25px;
    }
    .btn, .badge {
      font-size: 11px;
      line-height: 11px;
    }
  }

  #panel {
    width: 100%;
    height: 150px;
    font-size: 12px;
  
    .location_search {
      height: 90px;
    }
    .branch_list {
      height: 60px;
    }

    .title {
      font-size: 12px;
      font-weight: bold;
    }

    .address {
      font-size: 11px;
    }
  }

  #map {
    width: calc(100%);
    height: 250px;
    margin: 10px 0;
  }
}

.pac-container {
  font-family: Roboto;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.bootstrap_btn_wrapper {
  display: inline-block;
  margin: 2px;
}
.error {
  width: 400px;
  height: auto;
  margin: 0 auto;
}
