<h1>Shop#show</h1>

<%= render 'choices'%>

<div id="multi_markers"></div>

<script>
var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
  var markers = handler.addMarkers([
      <% @branches.each do |b| %>
        { lat: <%= b.latitude %>, lng: <%= b.longitude %>},
      <% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
