<h1>Shop#show</h1>

<%= render 'choices'%>

<div style='width: 800px;'>
  <div id="multi_markers" style='width: 800px; height: 400px;'></div>
</div>

<% @branches.each do |b| %>
  <%= b %>
<% end %>

<script>
var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
  var markers = handler.addMarkers([
      <% @branches.each do |b| %>
        { lat: <%= b.latitude %>, lng: <%= b.longitude %>},
      <% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
