<h1> <%= @shop.name %> shop list</h1>

<% if @shop.branch_num != 0 %>
  <table>
    <thead>
      <tr><th>name</th><th>location</th></tr>
    </thead>
    <tbody>
      <% @shop.branches.each do |b| %>
        <tr>
          <td><%= b.name %></td>
          <td><%= b.location %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
